#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: #ffffff;
}

body {
  background-color: #ffffff !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.MuiDataGrid-cell--editing input.MuiInputBase-input {
  word-wrap: break-word;
  word-break: break-all;
  height: auto;
}

.badge-chat .MuiBadge-badge {
  font-size: 1.05rem;
  min-width: 35px;
  line-height: 1;
  padding: 0 6px;
  height: 35px;
  border-radius: 50%;
}

.MuiDataGrid-cell,
.MuiDataGrid-columnHeader {
  border-left: 0.3px solid #e0e0e0;
  border-right: 0.3px solid #e0e0e0;
}

.MuiDataGrid-columnHeaders {
  border-top: 1px solid #e0e0e0;
}

.MuiDataGrid-row {
  min-height: 66px !important;
  max-height: 66px !important;
  max-height: 66px !important;
}

.MuiDataGrid-filler {
  display: none !important;
}

.MuiDataGrid-cell {
  min-height: 66px !important;
  max-height: 66px !important;
  height: 66px !important;
}

.row__height__large {
  min-height: 81px !important;
  max-height: 81px !important;
  height: 81px !important;
}

.row__height__large .MuiDataGrid-cell {
  min-height: 81px !important;
  max-height: 81px !important;
  height: 81px !important;
}

.row__color__ef7575 {
  background-color: #ef757596 !important;
}

.row__color__ffe51d {
  background-color: #ffe51d9c !important;
}

.row__color__84d166 {
  background-color: #84d166a1 !important;
}

button:focus,
button:focus-visible {
  outline: none !important;
}

.MuiDataGrid-columnsManagementRow:first-child {
  display: none;
}

.import-table .MuiDataGrid-columnHeader {
  height: 100px !important;
}

.import-autocomplete .MuiInputBase-input {
  border: none !important;
  padding: 0 !important;
  margin-top: 5px !important;
}